__pycache__/
*.pyc
*.pyo
.venv/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/
*.swp

.env

mlruns/
*.parquet
*.h5
*.pkl

pgdata/
redisdata/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

.coverage
htmlcov/

*.log
